import java.util.Scanner;
import java.util.Random;
public class game{
    public static void main(String[]args){
        Scanner sc=new Scanner(System.in);
        Random rd=new Random();
        int min=0;
        int max=100;
        int a=rd.nextInt(max - min + 1)+min;
        int attempt=5;
        int ATT=0;
        int result;
        System.out.println("Welcome to my game");
        System.out.println("range ="+ min+ "to"+ max);
        System.out.println("You have"+ attempt+ "attempts.");
        while(ATT<attempt){
            System.out.println("Enter your number:");
            result=sc.nextInt();
            ATT++;
            if(result==a){
                System.out.println("Correct answer");
            }
            if(result<a){
                System.out.println("ur num is less than guessed num");
            }
            if(result>a){
                System.out.println("ur num is more than guesses num");
            }
            
        }
        
        
    }
}
